<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Create New RFP</h2>
    </div>
    <div class="card-body">
      <%= render 'form', rfp: @rfp %>
    </div>
  </div>
</div>